python/Proposal-V1.0.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:rgov="RgovTypesLibrary-V1.0"  
	xmlns:proposal="Proposal-V1.0" 
	targetNamespace="Proposal-V1.0" 
	elementFormDefault="qualified" 
	attributeFormDefault="qualified" version="1.0">
	
	<xs:import schemaLocation="RgovTypesLibrary.xsd" namespace="RgovTypesLibrary-V1.0" />
	
	<xs:complexType name="Proposal">
		<xs:sequence>
			<xs:element name="proposalHeader" type="proposal:ProposalHeader" minOccurs="1" maxOccurs="1"/>
			<xs:element name="proposalSections" type="proposal:ProposalSections" minOccurs="0" maxOccurs="1" />
			<xs:element name="relatedProposals" type="proposal:RelatedProposal" minOccurs="0" maxOccurs="unbounded"/>	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProposalHeader">
		<xs:sequence>
			<xs:element name="proposalId" type="proposal:ProposalIdType"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="temporaryProposalId" type="proposal:TemporaryProposalIdType"  minOccurs="1" maxOccurs="1" />
			<xs:element name="title" type="xs:string" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="status" type="proposal:ProposalStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PI" type="rgov:Person" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="numberOfCoPIs" type="xs:int" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="awardeeOrganization" type="proposal:AwardeeOrganization" minOccurs="0" maxOccurs="1"/>
			<xs:element name="primaryPlaceofPerformanceOrg" type="proposal:PrimaryPlaceOfPerfomanceOrganization" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="submissionType" type="proposal:SubmissionType"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="submitTimeStamp" type="xs:dateTime" minOccurs="0" maxOccurs="1" />
			<xs:element name="fundingOpportunity" type="proposal:FundingOpportunity"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="fundingMechanismType" type="proposal:FundingMechanismType"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="nsfUnitofConsideration" type="proposal:unitOfConsideration" minOccurs="0" maxOccurs="unbounded"/> 
			<xs:element name="eligibilityData" type="proposal:EligibilityData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requestedBudgetAmount" type="xs:decimal" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="proposalDurationInMonths" type="xs:int" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="requestedStartingDate" type="xs:date" minOccurs="0" maxOccurs="1"/> 
			<xs:element name="preliminaryProposal" type="xs:boolean"  minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProposalSections">
		<xs:sequence>
			<xs:element name="remainderCoverSheet" type="proposal:RemainderCoverSheet" minOccurs="0" maxOccurs="1"/>
			<xs:element name="projectSummary" type="proposal:ProjectSummary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="projectDescription" type="proposal:ProjectDescription" minOccurs="0" maxOccurs="1"/>
            <xs:element name="referencesCited" type="proposal:ReferencesCited" minOccurs="0" maxOccurs="1" />
            <xs:element name="bioSketches" type="proposal:BioSketches" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="budget" type="proposal:Budget" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="budgetJustification" type="proposal:BudgetJustification" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="currentPendingSupport" type="proposal:CurrentPendingSupport" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="facilitiesEquipmentResources" type="proposal:FacilitiesEquipmentResources" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataMgtPlan" type="proposal:DataMgtPlan" minOccurs="0" maxOccurs="1"/>
			<xs:element name="mentoringPlan" type="proposal:MentoringPlan" minOccurs="0" maxOccurs="1"/>
			<xs:element name="otherSupplementaryDoc" type="proposal:OtherSupplementaryDoc" minOccurs="0" maxOccurs="1"/>
			<xs:element name="piCoPIInfo" type="proposal:PICoPIInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="deviationAuthorization" type="proposal:DeviationAuthorization" minOccurs="0" maxOccurs="1"/>
			<xs:element name="suggestedReviewers" type="proposal:SuggestedReviewers" minOccurs="0" maxOccurs="1"/>
			<xs:element name="addlSingleCopyDoc" type="proposal:AddlSingleCopyDoc" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<!-- ****************************************************  -->
	<!--   Proposal Sections                                   -->
	<!-- ****************************************************  -->
	
	<xs:complexType name="ProjectSummary">
		<xs:complexContent>
			<xs:extension base="proposal:UploadableSection" >
				<xs:sequence>
					<xs:element name="projSummaryText" type="xs:string"/>
					<xs:element name="intellectualMerit" type="xs:string"/>
					<xs:element name="broaderImpacts" type="xs:string"/>
					<xs:element name="specialCharPDF" type="xs:boolean"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProjectDescription">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReferencesCited">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection">
				</xs:extension>
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BioSketches">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" >
					<xs:sequence>
						<xs:element name="firstName" type="xs:string"/>
						<xs:element name="lastName" type="xs:string"/>
						<xs:element name="textLength" type="xs:int"/>
						<xs:element name="text" type="xs:string"/>
						<xs:element name="personnelType" type="proposal:PersonnelType"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="BudgetJustification">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection">
					<xs:sequence>
							<xs:element name="justificationText" type="xs:string"/>
							<xs:element name="instId" type="xs:string"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CurrentPendingSupport">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" >
					<xs:sequence>
						<xs:element name="firstName" type="xs:string"/>
						<xs:element name="lastName" type="xs:string"/>
						<xs:element name="proposalTitle" type="xs:string"/>
						<xs:element name="sourceOfSupport" type="xs:string"/>
						<xs:element name="projectLocation" type="xs:string"/>
						<xs:element name="totalAwdAmt" type="xs:decimal"/>
						<xs:element name="startDate" type="xs:date"/>
						<xs:element name="endDate" type="xs:date"/>
						<xs:element name="supportType" type="xs:string"/>
						<xs:element name="calendarMonthCount" type="xs:int"/>
						<xs:element name="academicMonthCount" type="xs:int"/>
						<xs:element name="summerMonthCount" type="xs:int"/>
						<xs:element name="revType" type="xs:boolean"/>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FacilitiesEquipmentResources">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DataMgtPlan">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MentoringPlan">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>	
	<xs:complexType name="OtherSupplementaryDoc">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PICoPIInfo">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeviationAuthorization">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SuggestedReviewers">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AddlSingleCopyDoc">
			<xs:complexContent>
				<xs:extension base="proposal:UploadableSection" />
			</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RemainderCoverSheet">
		<xs:complexContent>
			<xs:extension base="proposal:Section" >
				<xs:sequence>
					<xs:element name="personnelList" type="proposal:Personnel" minOccurs ="0" maxOccurs="unbounded"/>
					<xs:element name="otherAgenciesSubmittedProposal" type="xs:string" minOccurs ="0" maxOccurs="unbounded"/>
					<xs:element name="beginningInvestigatorFlag" type="xs:boolean" />
					<xs:element name="disclosureOfLobbyingActivitiesFlag" type="xs:boolean" />
					<xs:element name="proprietyAndPrivilegedInfoFlag" type="xs:boolean" />
					<xs:element name="historicPlacesFlag" type="xs:boolean" />
					<xs:element name="vertebrateAnimalsFlag" type="xs:boolean" />
					<xs:element name="IACUCDate" type="xs:date" />
					<xs:element name="phsAnimalNumber" type="xs:string" />
					<xs:element name="humanSubjectsFlag" type="xs:boolean" />
					<xs:element name="exemptionSubsectionFlag" type="xs:boolean" />
					<xs:element name="irbAppDate" type="xs:date" />
					<xs:element name="humanSubjectsAssuranceNumber" type="xs:string" />
					<xs:element name="internationalCooperativeActivitiesFlag" type="xs:boolean" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Budget">
		<xs:complexContent>
			<xs:extension base="proposal:Section" >
				<xs:sequence>
					<xs:element name="budgetYear" type="xs:int" />
					<xs:element name="performingOrganizationId" type="xs:string" />
					<xs:element name="revisionNumber" type="xs:int" />
					<xs:element name="otherSeniorPersonnelBudget" type="proposal:BudgetInfo" />
					<xs:element name="postDoctoralScholarBudget" type="proposal:BudgetInfo" />
					<xs:element name="otherProfessionalsBudget" type="proposal:BudgetInfo" />
					<xs:element name="graduateStudentsBudget" type="proposal:BudgetInfo" />
					<xs:element name="undergraduateStudentsBudget" type="proposal:BudgetInfo" />
					<xs:element name="secretarialBudget" type="proposal:BudgetInfo" />
					<xs:element name="otherStaffBudget" type="proposal:BudgetInfo" />
					<xs:element name="snrPersonnelBudget" type="proposal:SeniorPersonnelBudget" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="equipmentCost" type="proposal:EquipmentCost" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="indirectCost" type="proposal:IndirectCost" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="fringeBenefitsDollars" type="xs:decimal" />
					<xs:element name="foreignTravelDollars" type="xs:decimal" />
					<xs:element name="domesticTravelDollars" type="xs:decimal" />
					<xs:element name="participantSupportCost" type="proposal:ParticipantSupportCost" />
					<xs:element name="directCost" type="proposal:OtherDirectCost" />
					<xs:element name="residualFunds" type="xs:decimal" />
					<xs:element name="costSharingDollars" type="xs:decimal" />
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>


	<!-- ****************************************************  -->
	<!--   Abstract Types	                                   -->
	<!-- ****************************************************  -->	
	
	<xs:complexType name="Section" abstract="true">
		<xs:sequence>
			<xs:element name="lastUpdateTimeStamp" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UploadableSection" abstract="true">
		<xs:complexContent>
			<xs:extension base="proposal:Section" >
				<xs:sequence>
					<xs:element name="sectionFormat" type="proposal:SectionFormat" minOccurs="0" maxOccurs="1" />
					<xs:element name="pageCount" type="xs:int" minOccurs="0" maxOccurs="1"/>
					<xs:element name="filePath" type="xs:string" minOccurs="0" maxOccurs="1"/>		
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<!-- ****************************************************  -->
	<!--   Composite Types	                                   -->
	<!-- ****************************************************  -->

	<xs:complexType name="ProposalStatus">
		<xs:sequence>
			<xs:element name="statusCode" type="xs:string" />
			<xs:element name="statusDescription" type="xs:string" />
			<xs:element name="statusDate" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="RelatedProposal">
		<xs:sequence>
			<xs:element name="proposalId" type="proposal:ProposalIdType"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="temporaryProposalId" type="proposal:TemporaryProposalIdType"  minOccurs="1" maxOccurs="1" />
			<xs:element name="submissionType" type="proposal:SubmissionType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	

	<xs:complexType name="BudgetInfo">
		<xs:sequence>
			<xs:element name="count" type="xs:int" />
			<xs:element name="calendarMonths" type="xs:int" />
			<xs:element name="academicMonths" type="xs:int" />
			<xs:element name="summerMonths" type="xs:int" />
			<xs:element name="requestedDollars" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ParticipantSupportCost">
		<xs:sequence>
			<xs:element name="supportDollars" type="xs:decimal" />
			<xs:element name="travelDollars" type="xs:decimal" />
			<xs:element name="subsistenceDollars" type="xs:decimal" />
			<xs:element name="otherSupportDollars" type="xs:decimal" />
			<xs:element name="totalParticipantSupportCostDollars" type="xs:decimal" />			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SeniorPersonnelBudget">
		<xs:sequence>
			<xs:element name="srFirstName" type="xs:string" />
			<xs:element name="srLastName" type="xs:string" />
			<xs:element name="srMidName" type="xs:string" />
			<xs:element name="srTitle" type="xs:string" />
			<xs:element name="calMonthCount" type="xs:int" />
			<xs:element name="acadMonthCount" type="xs:int" />
			<xs:element name="summMonthCount" type="xs:int" />
			<xs:element name="requestedDollars" type="xs:decimal" />			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipmentCost">
		<xs:sequence>
			<xs:element name="itemName" type="xs:string" />
			<xs:element name="dollarRequested" type="xs:decimal" />			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndirectCost">
		<xs:sequence>
			<xs:element name="itemName" type="xs:string" />
			<xs:element name="costRate" type="xs:decimal" />
			<xs:element name="dollarRequested" type="xs:decimal" />			
		</xs:sequence>
	</xs:complexType>	
	<xs:complexType name="OtherDirectCost">
		<xs:sequence>
			<xs:element name="materialsSuppliesDollars" type="xs:decimal" />
			<xs:element name="publicationDocumentationDollars" type="xs:decimal" />
			<xs:element name="consultantServicesDollars" type="xs:decimal" />
			<xs:element name="subcontractsDollars" type="xs:decimal" />
			<xs:element name="otherDirectCostDollars" type="xs:decimal" />
			<xs:element name="totalDirectCostDollars" type="xs:decimal" />			
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FundingOpportunity">
		<xs:sequence>
			<xs:element name="fundingOpportunityId" type="proposal:FundingOpportunityIdType"  />
			<xs:element name="fundingOpportunityType" type="proposal:FundingOpportunityType" />
			<xs:element name="fundingOpportunityDeadline" type="xs:dateTime" />	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EligibilityData">
		<xs:sequence>
			<xs:element name="priorNSFAwards" type="xs:int" />
			<xs:element name="numOfProposalSubmittedByPI" type="xs:int" />
			<xs:element name="numOfProposalSubmittedByOrganization" type="xs:int" />	
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AwardeeOrganization">
		<xs:sequence>
			<xs:element name="organizationId" type="xs:string" />
			<xs:element name="organizationName" type="xs:string" />
			<xs:element name="organizationAddress" type="proposal:AddressType" />
			<xs:element name="dunsNumber" type="xs:string" />
			<xs:element name="tinEinNumber" type="xs:string" />
			<xs:element name="forProfit" type="xs:boolean" />
			<xs:element name="smallBusiness" type="xs:boolean" />
			<xs:element name="minorityBusiness" type="xs:boolean" />
			<xs:element name="womenOwnedBusiness" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="street" type="xs:string" />
			<xs:element name="city" type="xs:string" />
			<xs:element name="state" type="xs:string" />
			<xs:element name="zipCode" type="xs:string" />
			<xs:element name="country" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<!-- ****************************************************  -->
	<!--   Enumerations		                                   -->
	<!-- ****************************************************  -->
	
	<xs:simpleType name="SectionFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="TEXT"/>
			<xs:enumeration value="PDF"/>
			<xs:enumeration value="MULTIPLE"/>
			<xs:enumeration value="EMPTY"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="SubmissionType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="LETTER_OF_INTENT"/>
			<xs:enumeration value="PRELIMINARY_PROPOSAL"/>
			<xs:enumeration value="FULL_PROPOSAL"/>
			<xs:enumeration value="RENEWAL"/>
			<xs:enumeration value="RENEWAL_ABR"/>
			<xs:enumeration value="COLLABORATIVE_LEAD"/>
			<xs:enumeration value="COLLABORATIVE_NON_LEAD"/>
			<xs:enumeration value="AWARD_SUPPLEMENT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FundingMechanismType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RAPID"/>
			<xs:enumeration value="EAGER"/>
			<xs:enumeration value="CONFERENCES_SYMPOSIA_WORKSHOPS"/>
			<xs:enumeration value="EQUIPMENT"/>
			<xs:enumeration value="INTERNATIONAL_TRAVEL"/>
			<xs:enumeration value="RESEARCH"/>
			<xs:enumeration value="FACILITIES_CENTERS"/>
			<xs:enumeration value="FELLOWSHIPS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="PersonnelType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="PI"/>
			<xs:enumeration value="CO_PI"/>
			<xs:enumeration value="SR_PERSONNEL"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PrimaryPlaceOfPerfomanceOrganization">
		<xs:sequence>
			<xs:element name="organizationId" type="xs:string" />
			<xs:element name="organizationName" type="xs:string" />
			<xs:element name="organizationAddress" type="proposal:AddressType" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="unitOfConsideration">
		<xs:sequence>
			<xs:element name="orgCode" type="xs:string" />
			<xs:element name="orgName" type="xs:string" />
			<xs:element name="programElementCode" type="xs:string" />
			<xs:element name="programElementName" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Personnel">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="lastName" type="xs:string" />
			<xs:element name="personnelType" type="proposal:PersonnelType" />
		</xs:sequence>
	</xs:complexType>
	

	<!-- ****************************************************  -->
	<!--   General Data Types                                  -->
	<!-- ****************************************************  -->

	<xs:simpleType name="ProposalIdType">
		<xs:restriction base="xs:string">
			<xs:length value="7"></xs:length>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TemporaryProposalIdType">
		<xs:restriction base="xs:string">
			<xs:length value="7"></xs:length>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FundingOpportunityIdType">
		<xs:restriction base="xs:string">
			<xs:length value="10"></xs:length>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FundingOpportunityType">
		<xs:restriction base="xs:string">
			<xs:length value="10"></xs:length>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>